.Layout {
  text-align: center;
}

.Layout-header {
  height: 150px;
  padding: 20px;
  color: #ffab00;
}

.navbar-container {
  display: flex;
}

.navbar-link {
  padding-left: 15px;
  padding-right: 15px;
}

.gray-line {
  width: 100%;
  border-top-style: solid;
  border-width: 1px;
  border-color: #D3D3D3;
  margin-top: 9px;
}

@media (max-width: 360px) {
  .gray-line {
    display: none;
  }
}
