.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-link-container {
  margin-left: 0.5em;
  margin-right: 0.5em;
  height: 2em;
  display: flex;
  align-items: center;
  border: solid #F5F5F5 1px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.2s;
}

.navbar-link-container:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,0.25), 0 2px 4px rgba(0,0,0,0.22);
}

.active-true {
  box-shadow: 0 3px 9px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.22);
}

.navbar-link-container:hover.active-true {
  box-shadow: 0 4px 12px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.22);
}

.navbar-link {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

.gray-line {
  width: 100%;
  border-top-style: solid;
  border-width: 1px;
  border-color: #D3D3D3;
}

@media (max-width: 360px) {
  .gray-line {
    display: none;
  }
}
