.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-link-container {
  margin-left: 0.5em;
  margin-right: 0.5em;
  height: 2em;
  display: flex;
  align-items: center;
}

.navbar-link {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.gray-line {
  width: 100%;
  border-top-style: solid;
  border-width: 1px;
  border-color: #D3D3D3;
}

@media (max-width: 360px) {
  .gray-line {
    display: none;
  }
}
