body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
}

.full-screen-index {
  background-image: url("../images/autumn-leaves.png");
  width: 100%;
/*  height is set by jquery in resize-background.js */
}

.full-screen-music {
  background-image: url("../images/irish-session.png");
  width: 100%;
/*  height is set by jquery in resize-background.js */
}

.intro-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.intro {
  padding-top: 30px;
  font-size: 22px;
}

.name {
  padding-top: 10px;
  font-size: 32px;
}

.blurb {
  padding-top: 40px;
  font-size: 22px;
}

.interests {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  font-size: 22px;
}

.interests div {
  padding-top: 10px;
}

.contact-text {
  padding-top: 40px;
  font-size: 22px;
}

.contact-bar {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-bar a {
  font-size: 22px;
  padding-left: 15px;
  padding-right: 15px;
}

a:link {
    text-decoration: none;
}

.post-container {
  margin-top: 50px;
  width: 66%;
}

.post-title {
  font-size: 22px;
  font-weight: bold;
}

p {
  font-size: 20px;
}

.content-container {
  width: 70%;
  margin-top: 15px;
}

.gray-border {
  border-style: solid;
  border-color: #C0C0C0;
  border-bottom: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%
}
