body {
  font-family: 'Open Sans', sans-serif;
}

.full-screen {
  display: flex;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  padding-top: 30px;
  font-size: 22px;
  text-align: center;
  color: white;
}

.name {
  padding-top: 10px;
  font-size: 32px;
  text-align: center;
  color: white;
}

.blurb {
  padding-top: 40px;
  font-size: 22px;
  text-align: center;
  color: white;
}

.contact-text {
  padding-top: 40px;
  font-size: 22px;
  text-align: center;
  color: white;
}

.contact-bar {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.contact-bar a {
  font-size: 22px;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
  color: #EEEEEE;
}

a:active {
  color: #EEEEEE;
}

.post-container {
  margin-top: 50px;
  width: 66%;
}

.post-title {
  font-size: 22px;
  font-weight: bold;
}

p {
  font-size: 20px;
}

.gray-border {
  width: 100%;
  border-top-style: solid;
  border-width: 1px;
  border-color: #D3D3D3;
  margin: 5px;
}

.background-image {
  background-repeat: no-repeat;
/*  height is set by jquery in resize-background.js */
}

@media (max-width: 980px) {
  .content-container {
    width: 100%;
  }
  .background-image {
    background-image: url("../images/autumn-leaves-small.png");
  }
}

@media (min-width: 980px) {
  .content-container {
    width: 70%;
  }
  .background-image {
    background-image: url("../images/autumn-leaves-big.png");
  }
}

audio {
  margin-bottom: 25px;
  width: 90%;
}
