body {
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 980px) {
  .full-screen-index {
    background-image: url("../images/autumn-leaves-small.png");
  }
}

@media (min-width: 980px) {
  .full-screen-index {
    background-image: url("../images/autumn-leaves-big.png");
  }
}

.full-screen-index {
  background-repeat: no-repeat;
/*  height is set by jquery in resize-background.js */
}

.full-screen-music {
  background-image: url("../images/irish-session.png");
/*  height is set by jquery in resize-background.js */
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.intro {
  padding-top: 30px;
  font-size: 22px;
  text-align: center;
}

.name {
  padding-top: 10px;
  font-size: 32px;
  text-align: center;
}

.blurb {
  padding-top: 40px;
  font-size: 22px;
  text-align: center;
}

.contact-text {
  padding-top: 40px;
  font-size: 22px;
  text-align: center;
}

.contact-bar {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.contact-bar a {
  font-size: 22px;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
  color: #EEEEEE;
}

a:active {
  color: #EEEEEE;
}

.post-container {
  margin-top: 50px;
  width: 66%;
}

.post-title {
  font-size: 22px;
  font-weight: bold;
}

p {
  font-size: 20px;
}

.content-container {
  width: 70%;
  margin-top: 15px;
}

.gray-border {
  border-style: solid;
  border-color: #C0C0C0;
  border-bottom: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%
}
